{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .exercise-table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .exercise-table thead tr {
            border-bottom: 1px solid black;
        }

        .exercise-table thead th {
            border-right: 1px solid black;
        }

        .exercise-table tbody td {
            border-right: 1px solid black;
            padding: 2px 10px;
        }

        .table-exercise-name {
            float: left;
        }

        .table-exercise-repetitions {
            float: right;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>{{ 'dashboard.header'|trans }}</h2>

            <div>{{ 'dashboard.subtitle'|trans }}</div>

            <table class="exercise-table">
                <thead>
                    <tr>
                        <th>{{ 'dashboard.table.2weeks'|trans }}</th>
                        <th>{{ 'dashboard.table.week'|trans }}</th>
                        <th>{{ 'dashboard.table.today'|trans }}</th>
                    </tr>
                </thead>

                {% set count = max(today|length, weekAgo|length, twoWeeksAgo|length) %}

                <tbody>
                    {% for recordIndex in 1..count %}
                    <tr>
                        {% for records in [today, weekAgo, twoWeeksAgo] %}
                        <td>
                            {% if records[recordIndex] is defined %}
                            {% include '/dashboard/block/exercise-row.html.twig' with { exercise: records[recordIndex] } %}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
